In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('/home/suhas/Desktop/office/Data Science/Notes/Data Analysis/Data/customer.csv')

In [12]:
df.shape

(50, 5)

In [13]:
df.sample(5)

    age  gender   review education purchased
36   34  Female     Good        UG       Yes
15   75    Male     Poor        UG        No
45   61    Male     Poor        PG       Yes
16   59    Male     Poor        UG       Yes
8    65  Female  Average        UG        No

In [14]:
df = df.iloc[:,2:]

In [16]:
df.sample(5)

     review education purchased
8   Average        UG        No
26     Poor        PG        No
29  Average        UG       Yes
1      Poor        UG        No
35     Poor    School       Yes

In [30]:
# df['review'].value_counts()
df['education'].value_counts()

PG        18
School    16
UG        16
Name: education, dtype: int64

In [ ]:

from sklearn.model_selection import train_test_split

In [19]:
X = df.iloc[:,:2]
y = df.iloc[:,-1]

In [21]:
y

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: purchased, dtype: object

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [24]:
y_train

24    Yes
48    Yes
17    Yes
12     No
27     No
33    Yes
16    Yes
2      No
25     No
14    Yes
30     No
5     Yes
32    Yes
1      No
29    Yes
35    Yes
41    Yes
19    Yes
37    Yes
10    Yes
4      No
6      No
3      No
20    Yes
26     No
38     No
21     No
42    Yes
31    Yes
34     No
7     Yes
49     No
11    Yes
18     No
43     No
22    Yes
8      No
45    Yes
15     No
40     No
Name: purchased, dtype: object

In [31]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [32]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [33]:
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [35]:
X_train

array([[1., 2.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 2.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [2., 0.]])

In [36]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le = LabelEncoder()

In [39]:
le.fit(y_train)

LabelEncoder()

In [40]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [41]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [43]:
y_train

array([1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0])