In [2]:
import pandas as pd
import requests

In [5]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1&api_key=3686c7ceb482f0e4f67466cb7750f1f1')

In [12]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [13]:
df = pd.DataFrame()

In [14]:
df

Empty DataFrame
Columns: []
Index: []

In [15]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={}&api_key=3686c7ceb482f0e4f67466cb7750f1f1'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [16]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,220.110,8.700,27210
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,167.770,8.689,20671
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,90.699,8.572,12471
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,84.280,8.566,15879
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,51.467,8.500,8678
...,...,...,...,...,...,...,...
8555,224141,Into the Woods,In a woods filled with magic and fairy tale ch...,2014-12-24,15.712,5.751,4224
8556,123105,The Bay,Two million fish washed ashore. One thousand b...,2012-09-13,12.400,5.800,753
8557,9886,Johnny Mnemonic,"In a dystopian 2021, Johnny is a data traffick...",1995-05-26,13.904,5.751,1344
8558,9616,The Order,"For centuries, a secret Order of priests has e...",2003-09-05,14.305,5.800,352
8559,53172,Henry's Crime,An aimless man is sent to prison for a crime h...,2010-01-14,7.067,5.800,334

In [17]:
df.shape

(8560, 7)

In [18]:
df.to_csv('movies.csv')